@use '../../presentation/styles/layout'
@use '../../presentation/styles/typography'

@layer components
  .family-settings-page
    @include layout.column(40rem)
    display: grid
    gap: var(--space-3xl)
    padding-block: var(--space-2xl) max(var(--space-section), var(--safe-area-bottom))

    .family-settings-title
      @include typography.headline

    .theme-switch
      width: 100%
