@use '../styles/focus'
@use '../styles/typography'

@layer components
  .text-link
    @include focus.ring
    @include typography.strong
    color: inherit
    cursor: pointer
    text-decoration: underline
    text-underline-offset: var(--underline-offset)

    &[data-hovered]
      text-decoration-thickness: var(--stroke-bold)

    &[data-pressed]
      opacity: 0.7
